-@title = "Documentation - Node.js"
.container
  .row
    .span8
      ~markdown :'docs-nodejs'
    .span4
      %a{href: 'http://www.nodejs.org', target: '_blank'}
        %img{src: '/images/nodejs.png', alt: 'Node.js logo'}

