-@title = "Documentation"
.container
  !=haml :'_docs-nav', layout: false, locals: { name: name }
  .row
    .span8
      %p
        Get started with CloudMQTT with any of these guides: 
      %ul
        -{ heroku: 'Heroku', ruby: 'Ruby', python: 'Python',
           nodejs: 'Node.js', java: 'Java', }.each do |k,v|
          %li
            %a{href: "/docs-#{k}.html"}=v
      %p
        Don't hesitate to contact us at 
        %a{href: 'mailto:support@cloudmqtt.com'} support@cloudmqtt.com 
        if you got any questions!
    .span3
      %img{src: '/images/animals/cat.png', alt: 'Cat'}
