.container
  .page-header
    %h1 Imprint
  .pull-right
    %img{src: '/images/animals/black_leopard.png'}

  %p CloudMQTT is offered by: 
  %address
    %strong 84codes AB
    %br/
    Kaptensgatan 7
    %br/
    58212 Linköping
    %br/
    Sweden
    %br/
    VAT ID: SE556898078201

