.container
  .demo-headline
    %img.pull-left{src: '/images/animals/pug.png'}
    %h1.demo-logo
      CloudMQTT
      %small Globally distributed MQTT broker
  .row
    .span6
      %h3 Machine-to-machine messaging
      %p MQTT is the machine-to-machine protocol of the future. It's minimal design makes it perfect for built-in systems, mobile phones and other memory and bandwidth sensitive applications.



