!!!
%html{:lang => "en"}
  %head
    %title 
      -if @title
        #{@title} - 
      CloudMQTT
      -if name == 'index'
        \- A globally distributed MQTT broker
    %link(href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css')
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/site.css", :rel => "stylesheet"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    /[if lt IE 9]
      %script(src="/js/html5shiv.js")
    :css
      body { 
        font-family: 'Lato', sans-serif; 
      }
      footer {
        background-color: #EEE;
        margin-top: 1em;
        padding: 1em 0 1em;
      }
      #hero {
        background-repeat: no-repeat;
        background-color: rgb(0, 136, 204);
        color: white;
        margin: -2.5em 0 2.5em;
        background-image: url(/images/windmill.jpg);
        background-position: 45% 50%;
        background-size: cover;
        padding: 10em 0 10em;
      }
      #hero h1 {
        font-size: 700%;
      }
      #hero small {
        color: white
      }
      #benefits img {
        display: block;
        margin: auto;
        width: 128px;
        height: 128px;
      }
      #benefits p {
        text-align: justify;
      }
      #hero svg path {
        fill: white;
      }
      #hero svg {
        width: 128px;
        height: 128px;
      }
      .plans {
        margin-left: -20px;
        list-style: none;
      }
      .plans h4 {
        text-align: center;
      }
      .price {
        font-weight: bold;
        text-align: right;
      }
    -if name =~ /^docs/
      %link(href="/prettify/prettify.css" type="text/css" rel="stylesheet")
      %script(src="/prettify/prettify.js" type="text/javascript")
      :javascript
        window.onload = prettyPrint
  %body
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40908590-1', 'cloudmqtt.com');
      ga('send', 'pageview');

    .container
      -#.pull-right
        %ul.nav
          %li 
            %a{href: @dev ? 'http://localhost:9393/customer' : 'https://customer.cloudamqp.com/'} Control panel
      .page-header
        %ul.nav.nav-pills.pull-right
          %li{class: name == 'index' ? 'active' : ''}
            %a{:href => "/"} Home
          %li{class: name == 'plans' ? 'active' : ''}
            %a{:href => "/plans.html"} Plans
          %li{class: name =~ /^docs/ ? 'active' : ''}
            %a{:href => "/docs.html"} Documentation
          %li{class: name == 'support' ? 'active' : ''}
            %a{:href => "/support.html"} Support
        %h3
          CloudMQTT
          %small=@title
    -if name =~ /^docs/
      !=haml :'_docs-nav', layout: false, locals: { name: name }
    !=yield
    %footer
      .container
        .row
          .span2
            .footer-banner
              %ul.nav.nav-list
                %li
                  %a{href: '/terms_of_service.html'} Terms of service
                %li
                  %a{href: '/program_policies.html'} Program policies
                %li
                  %a{href: '/privacy_policy.html'} Privacy policy
                %li
                  %a{href: '/imprint.html'} Imprint
          .offset8.span2
            %a{href: 'http://aws.amazon.com', target: '_blank'}
              %img{src: '/images/aws_48.png', width: 127, height: 48}
