-@title = "Support"
.container
  .row
    .span4
      %h4 Email
      %p 
        If you have any questions, please email 
        %a{href: 'mailto:support@cloudmqtt.com'} support@cloudmqtt.com

    .span4
      %h4 Twitter
      %p 
        We're announcing all status and maintenance information on our Twitter account: 
        %a{href: 'http://twitter.com/CloudMQTT'} CloudMQTT

    .span4
      %img{src: '/images/animals/cat.png', alt: 'Cat'}
